<div class="card mb-3 text-white bg-info mb-3" >
  <div class="card-header" style="text-align: center;">
    <h5><b>Solicita tu credito, en solo 5 minutos!!</b> Tenemos disponibles hasta: {{ 20000000 | currency:'$' }}</h5>
  </div>
    <div class="row center my-2">
      <div class="col-md-12 row">
        <div class="col-md-6" style="text-align: center;">
              <img src="/assets/images/ico.jpg" class="card-img" alt="..." style="max-width: 120px;">
              <p class="card-text">Por que confiamos en ti, desembolso inmediato!</p>

        </div>
     
        <div class="col-md-6" style="text-align: center;">
          <div class="btn-group btn-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success btn-sm">Solicitar prestamo</button>
            <button type="button" class="btn btn-success btn-sm">Ver historial</button>
            <button type="button" class="btn btn-success btn-sm">Realizar pago</button>
          </div>

          <div class="form-group">
            <label>Cédula</label>
            <div class="input-group ">
            <input type="text" 
                    class="form-control" 
                    placeholder="Cédula"
                    [(ngModel)]="objConsult.documentId">
            <div class="input-group-append">
                <button class="btn btn-secondary" 
                        type="button" 
                        id="button-addon2"
                        (click)="filterUser(objConsult.documentId)">Validar</button>
              </div>

            </div>
        </div>
        </div>

      </div>
 
    </div>
  </div>

  <app-loan-apply [objCredit] = "objCredit"></app-loan-apply>
<!-- 
  <router-outlet></router-outlet> -->