<div class="card mb-3 text-white bg-info mb-3" >
  <div class="card-header" style="text-align: center;">
    <h5><b>Solicita tu credito, en solo 5 minutos!!</b> Tenemos disponibles hasta: {{ CAPITAL.total | currency:'$' }}</h5>
    <pre> {{ CAPITAL | json}} </pre>
  </div>
    <div class="row center my-2">
      <div class="col-md-12 row">
        <div class="col-md-6" style="text-align: center;">
              <img src="/assets/images/ico.jpg" class="card-img" alt="..." style="max-width: 120px;">
              <p class="card-text">Por que confiamos en ti, desembolso inmediato!</p>

        </div>
     
        <div class="col-md-6" style="text-align: center;">
          <div class="btn-group btn-sm" role="group" aria-label="Basic example">
            <button type="button" 
                    class="btn btn-success btn-sm"
                    (click)="changeType('loan')">Solicitar prestamo</button>
            <button type="button" 
                    class="btn btn-warning btn-sm"
                    (click)="changeType('payment')">Realizar pago</button>
            <button type="button" 
                    class="btn btn-secondary btn-sm"
                    (click)="changeType('userHistory')">Mi historial</button>
            <button type="button" 
                    class="btn btn-primary btn-sm"
                    (click)="changeType('history')">Todos los usuarios</button>
          </div>

          <div class="form-group">
            <label>Cédula</label>
            <div class="input-group ">
            <input type="text" 
                    class="form-control" 
                    placeholder="Cédula"
                    [(ngModel)]="objConsult.documentId">
            <div class="input-group-append">
                <button class="btn btn-secondary" 
                        type="button" 
                        id="button-addon2"
                        (click)="filterUser(objConsult.documentId)">Validar</button>
              </div>

            </div>
        </div>
        </div>

      </div>
 
    </div>
  </div>


  
  
<router-outlet></router-outlet>

<app-loan-apply 
  *ngIf="objControl.type == 'loan' || objControl.type == 'payment'"
  [objCredit] = "objCredit"
  [type]="objControl.type"
  >
</app-loan-apply>

<app-loan-list 
    [loanList]= "loanList"
    *ngIf="objControl.type == 'history'"
  ></app-loan-list>